<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/qrcode.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/jquery.min.js"></script>
    <style>
        .nav-link{
            font-size: 18px;
            font-weight:600;
            text-align: center;
            padding:10px
        }
        .nav-item > .active{
            color:#15AAFF !important;
        }
      details{
        background:#f9f9f9;
        border-radius:10px;
        padding:15px;
        transition:height 1s ease-in;
      }
      details[open] summary ~ * {
      animation: sweep .5s ease-in-out;
    }

    @keyframes sweep {
      0%    {opacity: 0; margin-left: -10px}
      100%  {opacity: 1; margin-left: 0px}
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top" style="background:white;box-shadow:1px 1px 2px #aaa;">
        <div class="container">
            <a class="navbar-brand" style="color:#15AAFF;font-weight:800;font-size:32px" href="">
                Admin
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/qrcode">QrCode</a>
                    </li>
                    <li class="nav-item dropdown text-center">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu text-center">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container mt-4 mb-4 border rounded p-3">
        <div style="display: flex;flex-direction: row;justify-content: space-between;">
            <h1 style="color:#15AAFF;font-weight:700;font-size:28px;text-decoration: underline;">QrCodes</h1>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:#15AAFF;color:#fff;font-weight:900">add</button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Create QRCodes</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb-2">
                  <form action="/create" method="post">
                    <label >Enter Product :</label>
                    <input type="text" name="product" class="form-control mb-2" required placeholder="Enter Product">
                    <script>var d = new Date();document.write("<input type='hidden' value="+d.getDate()+'/'+(d.getMonth()+1)+'/'+d.getFullYear()+" name='timestamp' >")</script>
                    
                    <label >Required QRcodes :</label>
                    <input type="number" name="n" class="form-control mb-4" required min="1" placeholder="Enter required number of QRCodes">
                    <button class="btn" style="background-color: #ee4758;width:100%;color:#fff;font-weight: 900;">Create</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
        <% dates.reverse();dates.map(d=>{ %>
          <span style="font-weight:800;font-size:20px;color:#444;text-decoration: underline;"><%= d %></span><br><br>
           <% list.map((l)=>{ var k =0 ;products.map((i=>{if(i.product==l && i.timestamp==d){k++};}));if(k==0){return false;}%>
           <details class="container">
            <summary><%= l %></summary>
            <div class="container">
                <div class="row">
                    <% products.map((qr)=>{ if(qr.timestamp==d && qr.product==l){%>
                    <section class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
                        <article class="mt-3 container border rounded p-3">
                            <center>
                                <p id="<%= qr.id %>"></p>
                                <script type="text/javascript">
                                    new QRCode("<%= qr.id %>", {
                                        text: "<%= qr.id %>",
                                        width: 100,
                                        height: 100,
                                        colorDark : "#000000",
                                        colorLight : "#ffffff",
                                        display:"inline"
                                    });
                                  document.getElementById("<%= qr.id %>").title="";
                                </script>
                            </center>
                            <span style="display: block;text-align:center"><span style="color:#15AAFF">Times Scanned : </span><%= qr.visit.length %></span>
                        </article>
                    </section>
                    <% }}) %>
                </div>
            </div>
            </details><br>
           <% }) %>     
        <% }) %>
    </main>
    

    <script>
       // window. addEventListener("contextmenu", e => e. preventDefault());
    </script>
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>